<html>
<head>
	<title>贴吧合伙人商业挑战赛</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/css/basic/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/page/tab1.css">
</head>
<body>
	<img class="title" src="/static/images/title.png">
	<div class="main">
		<img class="video" src="/static/images/video.png">
		<div class="tutor-wrapper">
			<a href="http://tieba.baidu.com/p/3861473060"><img class="tutor" src="/static/images/tutor/3.png" alt="徐扬" style="left:0px; top:0px;"></a>
			<a href="http://tieba.baidu.com/p/3861438968"><img class="tutor" src="/static/images/tutor/4.png" alt="宇见" style="left:95px; top:13px;"></a>
			<a href="http://tieba.baidu.com/p/3861481556"><img class="tutor" src="/static/images/tutor/2.png" alt="唐兴通" style="left:230px; top:15px;"></a>
			<a href="http://tieba.baidu.com/p/3861455759"><img class="tutor" src="/static/images/tutor/1.png" alt="刘鹏" style="left:360px; top:0px;"></a>
		</div>
		<div class="ba-btn-wrapper" style="left:0px;top:-10px;">
			<a href="http://tieba.baidu.com/f?kw=备孕"><div class="ba-btn">备孕吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=月子"><div class="ba-btn">月子吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=三亚婚纱摄影"><div class="ba-btn">三亚婚纱摄影吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=破碎机"><div class="ba-btn">破碎机吧</div></a>
		</div>
		<div class="ba-btn-wrapper" style="left:130px;top:200px;">
			<a href="http://tieba.baidu.com/f?kw=高考吧"><div class="ba-btn">高考吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=美国留学吧"><div class="ba-btn">美国留学吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=新加坡留学吧"><div class="ba-btn">新加坡留学吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=芽苗菜吧"><div class="ba-btn">芽苗菜吧</div></a>
		</div>
		<div class="ba-btn-wrapper" style="right:130px;top:200px;">
			<a href="http://tieba.baidu.com/f?kw=整形吧"><div class="ba-btn">整形吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=隆鼻吧"><div class="ba-btn">隆鼻吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=美容吧"><div class="ba-btn">美容吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=婚纱照吧"><div class="ba-btn">婚纱照吧</div></a>
		</div>
		<div class="ba-btn-wrapper" style="right:0px;top:-10px;">
			<a href="http://tieba.baidu.com/f?kw=火锅吧"><div class="ba-btn">火锅吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=小吃加盟吧"><div class="ba-btn">小吃加盟吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=奶茶加盟吧"><div class="ba-btn">奶茶加盟吧</div></a>
			<a href="http://tieba.baidu.com/f?kw=SEO吧"><div class="ba-btn">SEO吧</div></a>
		</div>
		<div class="intro-wrapper" style="left:20px; top:130px;">
			<h3>母婴婚嫁战队</h3>
			<h4>导师 徐扬</h4>
			<p>北京讯达网脉科技有限公司CEO</p>
		</div>
		<div class="intro-wrapper" style="left:300px; top:250px;">
			<h3>教育留学战队</h3>
			<h4>导师 宇见</h4>
			<p>知名营销专家</p>
		</div>
		<div class="intro-wrapper" style="right:300px; top:250px;">
			<h3>整形美容战队</h3>
			<h4>导师 唐兴通</h4>
			<p>互联网时代的彼得•德鲁克</p>
		</div>
		<div class="intro-wrapper" style="right:20px; top:130px;">
			<h3>招商联盟战队</h3>
			<h4>导师 刘鹏</h4>
			<p>极果、智东西的创始人</p>
		</div>



	</div>
	<img class="footer" src="/static/images/footer.png">

</body>
</html>